body{
    background-color: #F3EBF6;
    font-family: 'Ubuntu', sans-serif;
   	color: #8C55AA;
}

h2{
	font-size: 28px;
	margin-bottom: 30px;
}

label{
	font-weight: 500;
}

.main {
    margin-top: 65px;
	height: 530px;
    background-color: #FFFFFF;
    border-radius: 25px;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.btn{
        cursor: pointer;
        border-radius: 5em;
        color: #fff;
        background: linear-gradient(to right, #9C27B0, #E040FB);
        border: 0;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 10px;
        padding-top: 10px;
        margin-bottom: 8px;
        font-family: 'Ubuntu', sans-serif;
        font-size: 14px;
        font-weight: 700;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}
