body{
    background-color: #F3EBF6;
    font-family: 'Ubuntu', sans-serif;
    color: #8C55AA;
}


.main {
    height: 57px;
    background-color: #FFFFFF;
    margin :13px auto;
    border-radius: 25px;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    margin-bottom: 20px;
}

.submit {
        cursor: pointer;
        border-radius: 5em;
        color: #fff;
        background: linear-gradient(to right, #9C27B0, #E040FB);
        border: 0;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-family: 'Ubuntu', sans-serif;
        font-size: 14px;
        font-weight: 700;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    }

.kembali {
        cursor: pointer;
        border-radius: 5em;
        color: #fff;
        margin-bottom: 40px;
        margin-left: 190px;
        background: linear-gradient(to right, #9C27B0, #E040FB);
        border: 0;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-family: 'Ubuntu', sans-serif;
        font-size: 14px;
        font-weight: 700;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    }

.clearfixs button{
    color: #8C55AA;
    font-size: 24px;
    font-family: 'Ubuntu';
    text-decoration: none;
}

#transaksi{
    margin-bottom: 30px;
}
